.vyber-form-cont {
  display: grid;
  width: 60%;
  max-width: 450px;
  grid-template-columns: 1fr 1fr 100px;
  gap: 20px;
}

.vyber-button {
  grid-column: span 1;
  width: 100px;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  font-size: 0.95rem;
  font-weight: 600;
  align-self: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: font-size 0.15s 0.15s, background-color 0.15s;
  height: 95%;
  background-color: #3c3f50;
}

.vyber-button .lds-dual-ring::after {
  height: 17px;
  width: 17px;
}

.vyber-button#active {
  background-color: #2d7bf4 !important;
  color: #ffffff;
}

.vyber-button#active {
  background-color: #2d7bf4;
  transform: scale(1);
}

.vyber-button#active:hover {
  background-color: rgb(64, 135, 242) !important;
}

.vyber-button#active:active {
  transition: all 0.05s;
  transform: scale(0.95);
}

.vyber-input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  transition: all 0.1s;
  font-weight: 600;
  height: 100%;
  padding-top: 2px;
  padding-left: 10px;
}

.vyber-input:focus::placeholder {
  opacity: 0;
}

.vyber-input::placeholder {
  transition: opacity 0.12s ease-in-out !important;
  color: #8c98a5;
}

.vyber-input-cont {
  grid-column: span 2;
  background-color: transparent;
  color: var(--pismo-biela);
  border: 2px solid var(--border);
  border-radius: 7px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: #383c4b;
}

.gr-money-box {
  display: flex;
  background-color: #333644;
  border-right: 2px solid var(--border);
  border-radius: 7px 0px 0px 7px;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  height: 100%;
}

.vyber-input-cont svg {
  height: 85%;
  width: 20px;
  padding: 4px;
}

.vyber-input-cont svg path {
  stroke: #b5c6cc !important;
}

.vyber-cont-major {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #333644;
  box-shadow: 0 0 35px 0 rgb(66 72 80 / 15%);
  border-radius: 0.25rem;
}

.vyber-cont-main {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  position: relative;
  padding-top: 50px;
}

.list-vyber {
  max-height: 300px;
}

.vyber-datum {
  width: fit-content !important;
  text-align: center;
}

.cont-legenda-list {
  padding: 0px 0px;
}

.element-list-vyber {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #3c3f50;
}

.element-list-vyber span {
  cursor: default;
  color: #b5c6cc;
  width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
}

.list-vyber {
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}

.list-vyber::-webkit-scrollbar {
  width: 4px;
}

.list-vyber::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #3b3e4e;
}

.list-vyber::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 100px;
}

.vyber-legenda {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px var(--list-border);
  border-top: solid 1px var(--list-border);
  height: 30px;
  max-width: 100%;
}

.vyber-legenda span {
  cursor: default;
  color: #8c98a5;
  font-weight: 600;
  font-size: 0.87rem;
}

.cont-legenda-list {
  padding-top: 33px;
  padding-bottom: 31px;
  position: relative;
  height: 60%;
  width: 90%;
}

.vyber-nadpis {
  white-space: nowrap;
}

.vyber-cont-main .graf-bot-title {
  left: 0;
}

.element-list-vyber .vyber-suma {
  color: var(--pismo-biela);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
  width: 120px;
}

.vyber-mena {
  width: fit-content !important;
  padding-left: 8px;
}

.footer-vyber {
  padding-top: 2px;
  display: flex;
  line-height: 30px;
}

.footer-vyber .vyber-mena {
  padding-left: 0px;
  color: #b5c6cc;
  font-size: 0.95rem;
}
.vyber-suma-text {
  color: white !important;
  font-size: 0.95rem !important;
  padding-right: 2px;
}
.vyber-separator {
  padding: 0px 4px;
}
.element-list-vyber .vyber-suma svg {
  padding-top: 2px;
  padding-right: 2px;
}

.vyber-legenda#footer {
  top: 100%;
  transform: translateY(-100%);
  bottom: 0px !important;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.vyber-legenda#footer .vyber-suma {
  color: var(--pismo-biela);
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}

.vyber-legenda#footer .vyber-suma::-webkit-scrollbar {
  height: 4px;
}

.vyber-legenda#footer .vyber-suma::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #3b3e4e;
}

.vyber-legenda#footer .vyber-suma::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 100px;
}

.vyber-legenda#footer .vyber-suma svg {
  margin-top: 2px;
}

#bot-parametre.vypinac {
  z-index: 0 !important;
}

.vyber-bot-title-divider {
  top: 17px;
  width: 50%;
  height: 4px;
  left: 100px;
  color: rgba(0, 27, 124, 0.55);
}

.vyber-bot-title {
  font-size: 1.2rem;
  top: 0;
  left: 3%;
}
