.main-chart-div {
  margin: auto;
  position: relative;
  width: 1100px;
}

#graf-filter {
  position: absolute;
  background-color: #292929;
  border-radius: 10px;
}

.main-graf-filter {
  top: 40px;
  right: 0px;
  width: 300px;
  height: 37px;
}

#graf-filter ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-graf-filter ul {
  padding: 0;
  padding: 4px 5px 4px 5px;
  flex-direction: row;
  align-items: center;
}

#graf-filter ul li {
  font-size: 0.88rem;
  width: 30px;
  line-height: 26px;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#graf-filter ul li:hover {
  background-color: rgba(255, 255, 255, 0.29);
}
