.bot-list-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  /* padding-top: 15px; */
  margin-bottom: 30px;
}

.bot-page-title-div {
  width: 87.5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 8px;
}

.list-burza {
  height: 100%;
  width: 87.5%;
  /* max-width: 1200px; */
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0;
}

@media only screen and (max-height: 700px) {
  .bot-novy-cont {
    overflow-y: scroll;
    overflow-x: auto;
  }
}
@media only screen and (max-width: 700px) {
  .flex-bot-novy-cont button#bot-parametre {
    left: 95% !important;
  }
  .show-bot-button {
    right: 5% !important;
    bottom: 5% !important;
  }

  .bot-novy-cont {
    bottom: 150px !important;
  }
  .flex-bot-novy-cont {
    margin-left: 10px !important;
  }
}
@media only screen and (max-width: 1150px) {
  .bot-page-title-div {
    width: 100%;
    margin-left: 0 !important;
  }
  .list-burza {
    width: 100% !important;
  }
  .list-burza {
    overflow-x: scroll;
    align-items: flex-start;
  }
  .bot-list-main-div {
    justify-content: flex-start;
    width: 98%;
    margin-left: auto;
    /* padding-left: 20px; */
  }
  #bot-par {
    margin-right: 0px !important;
  }
  #bot-mena {
    margin-right: 0px !important;
  }
  #bot-meno {
    width: 50px !important;
  }
  .bot-list li,
  .bot-list div {
    justify-content: space-evenly;
  }

  .flex-bot-novy-cont button#bot-parametre {
    margin-left: 2px !important;
    top: 0px !important;
    left: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .bot-novy-cont {
    max-width: 100% !important;
    right: 0 !important;
    margin: 0 10px;
    padding: 10px 0px !important;
    overflow-y: scroll;
    bottom: 180px !important;
    overflow-x: hidden;
  }
  .bot-novy-cont-title {
    width: 90% !important;
    justify-content: center;
  }
  .novy-bot-title {
    padding-left: 0px !important;
  }
  .novy-bot-title {
    padding-left: 25px;
  }
  .flex-bot-novy-cont {
    align-items: flex-start !important;
  }
  .bot-novy-cont-title {
    width: 100% !important;
  }
}

@media only screen and (max-width: 450px) {
  .bot-list-main-div .vypinac {
    font-size: 0;
    width: 50px;
    height: 34px;
    border-radius: 7px;
    /* left: 90%; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .bot-list-main-div .vypinac svg {
    /* padding-top: 10px; */
    position: absolute;
    width: 27px;
    height: 27px;
  }

  .bot-extra-create-cont {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 1370px) {
  .list-burza {
    width: 96%;
  }
  .bot-page-title-div {
    box-sizing: border-box;
    width: 96%;
    margin-left: 4%;
    margin-right: 4%;
  }
}

.li-burza {
  box-sizing: border-box;
  width: 100%;
  /* max-width: 1300px; */
  min-width: 1000px;
  /* padding-bottom: 3rem; */
  background-color: #333644;
  padding: 20px 30px;
  border-radius: 0.25rem;
  box-shadow: 0 0 35px 0 rgb(66 72 80 / 15%);
}

#burza-meno {
  font-size: 1.2rem;
  width: 150px;
  text-align: left;
  color: #b5c6cc;
  font-weight: 700;
  margin-bottom: 10px;
}

ol {
  color: var(--pismo-biela);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

ol li {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--list-border);
  justify-content: space-around;
}

.legenda #bot-status {
  color: #8c98a5;
  font-weight: 600;
  font-size: 0.87rem;
}

.legenda #bot-meno {
  color: #8c98a5;
  font-weight: 600;
  font-size: 0.87rem;
}

.legenda #bot-mena {
  color: #8c98a5;
  font-weight: 600;
  font-size: 0.87rem;
}

.legenda #bot-par {
  color: #8c98a5;
  font-weight: 600;
  font-size: 0.87rem;
}

.legenda .zmena {
  font-weight: 600;
  font-size: 0.87rem;
  color: #8c98a5;
  display: inline;
}

.legenda .zmena#graf {
  width: 150px;
}

.legenda {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  /* outline: solid 1px var(--list-border); */
  border-top: solid 1px var(--list-border);
  border-bottom: solid 1px var(--list-border);
  justify-content: space-around;
  pointer-events: none;
  z-index: 0;
}
.legenda#sucet {
  height: 63px;
  border-top: solid 2px var(--list-border);
  border-bottom: none;
}

#sucet-text {
  left: 60px;
  background-color: #333644;
  padding: 1px 9px;
  border-radius: 6px;
  border: 2px var(--list-border) solid;
  bottom: 48px;
  position: absolute;
  font-size: 0.8rem;
  color: var(--pismo-biela);
  text-align: center;
  color: #b5c6cc;
}

.legenda#sucet #bot-mena {
  color: var(--pismo-biela);
  font-size: 0.91rem;
  font-weight: 600;
  padding: 1px;
}

.legenda#sucet .zmena {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
ol li:hover {
  background-color: #414556;
}

.zmena svg {
  left: 0;
  bottom: 0;
  font-size: 13px;
  min-width: 13px;
}

#bot-status {
  color: #bbbbbb;
  width: 0px;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 600;
}

#bot-meno {
  cursor: pointer;
  color: #b5c6cc;
  width: 100px;
  text-align: left;
  font-size: 0.98rem;
  font-weight: 600;
  gap: 5px;
  position: relative;
  padding-left: 10px;
}
#bot-meno svg {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
}

#bot-mena {
  color: var(--pismo-biela);
  margin-right: 40px;
  width: 105px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#bot-mena p {
  color: var(--pismo-biela);
  font-size: 0.91rem;
  font-weight: 600;
}

#bot-mena p + p {
  /* border-top: solid rgba(255, 255, 255, 0.29) 1px; */
}

#bot-mena p text {
  /* color: var(--pismo-biela); */
  /* font-size: 1rem; */
  font-weight: 500;
  /* color: #c9c9c9; */
}

#btc {
  margin: 3px;
  border-radius: 20px;
  background-color: #2d7bf4;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  width: fit-content;
}

#btc i svg {
  margin-top: 5px;
  height: 18px;
  width: 18px;
}

#euro {
  margin: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-width: 70px;
  /* width: fit-content; */
}

#euro i svg {
  margin-top: 3px;
  margin-right: 2px;
  height: 17px;
  width: 17px;
}

#bot-par {
  color: #b5c6cc;
  margin-right: 100px;
  width: 90px;
  text-align: left;
  font-size: 0.98rem;
  font-weight: 600;
}

.zmena {
  text-align: center;
  width: 80px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bot-list .zmena {
  text-align: center;
  width: 70px;
}

.bot-list {
  padding: 0 !important;
  position: relative;
}

#divider {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 4px;
  border-radius: 30px;
  bottom: 36px;

  background-color: rgba(255, 255, 255, 0.29);
}

.vypinac {
  z-index: 1;
  position: relative;
  width: 190px;
  height: 34px;
  /* top: 140px; */
  /* right: 0; */
  /* transform: translate(-50%, 0%); */
  font-size: 1.05rem;
  color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: top 0.15s;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
}

.vypinac:hover {
  filter: brightness(1.05);
}

.vypinac#red {
  background: #f1556c;
}

.vypinac:active {
  transition: 0.05s ease-in-out;
  transform: scale(0.95);
  /* transform: scale(0.98); */
}

.vypinac#green {
  /* #23c552 */
  background: #2d7bf4;
}

.vypinac svg {
  pointer-events: none;
  margin-bottom: 2px;
  height: 23px;
  width: 23px;
}

.list-graf {
  pointer-events: none;
  position: relative;
  width: 150px;
  height: 58px;
  display: inline-block;
}

.burza {
  height: 400px;
}

.bot-novy-cont {
  z-index: 2;
  background-color: #333644;
  border: 2px solid var(--border) !important;
  box-shadow: 0 0 35px 0 rgb(66 72 80 / 15%);
  position: fixed;
  bottom: 150px;
  height: fit-content;
  overflow-y: auto;
  max-width: 1150px;
  right: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px;
  /* padding-top: 0px; */
  max-height: 70%;
  border-radius: 1rem;
  opacity: 1;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s; */
  transition: all 0.1s;
}

.bot-novy-cont#vis {
  opacity: 1;
}
.bot-novy-cont#invi {
  pointer-events: none;
  opacity: 0;
}

.bot-novy-cont::-webkit-scrollbar {
  /* width: 4px; */
  width: 20px;
}

.bot-novy-cont::-webkit-scrollbar-track {
  border-radius: 100px;
  /* background-color: rgba(255, 255, 255, 0.29); */
}

.bot-novy-cont::-webkit-scrollbar-thumb {
  /* background-color: var(--pismo-biela);
  border-radius: 100px; */
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.29);
}

.flex-bot-novy-cont {
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  /* max-height: 70%; */
}

.bot-novy-cont-title {
  width: 90%;
  height: 0;
  /* padding-top: 25px; */
  display: flex;
  align-items: flex-start;
}

.novy-bot-title {
  font-size: 1.2rem !important;
  color: #b5c6cc !important;
  margin: 0 !important;
  font-weight: 700;
  padding-top: 25px;
}

.show-bot-button {
  background-color: #2d7bf4;
  outline: none;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.show-bot-button:hover {
  filter: brightness(1.1);
}

.show-bot-button:active {
  transition: all 0.05s;
  transform: scale(0.95);
}

.show-bot-button svg {
  width: 37px;
  height: 37px;
}
