.bot-list-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
}

.list-burza {
  height: 100%;
  width: 96%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li-burza {
  width: 100%;
  max-width: 1300px;
  min-width: 1000px;
  padding-bottom: 3rem;
}

#burza-meno {
  font-size: 1.4rem;
  width: 150px;
  text-align: left;
  color: var(--pismo-biela);
  font-weight: bolder;
  margin-bottom: 10px;
}

ol {
  color: var(--pismo-biela);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

ol li {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--list-border);
  justify-content: space-around;
}

.legenda #bot-meno {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  font-size: 0.87rem;
}

.legenda #bot-mena {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  font-size: 0.87rem;
}

.legenda #bot-par {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  font-size: 0.87rem;
}

.legenda .zmena {
  font-weight: 600;
  font-size: 0.87rem;
  color: rgba(255, 255, 255, 0.4);
  display: inline;
}

.legenda .zmena#graf {
  width: 150px;
}

.legenda {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  /* outline: solid 1px var(--list-border); */
  border-top: solid 1px var(--list-border);
  border-bottom: solid 1px var(--list-border);
  justify-content: space-around;
  pointer-events: none;
  z-index: 0;
}
.legenda#sucet {
  height: 63px;
  border-top: solid 2px rgba(255, 255, 255, 0.29);
}

#sucet-text {
  left: 60px;
  background-color: #252525;
  padding: 1px 9px;
  border-radius: 6px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  bottom: 48px;
  position: absolute;
  font-size: 0.75rem;
  color: var(--pismo-biela);
  text-align: center;
  color: #bbbbbb;
}

.legenda#sucet #bot-mena {
  color: var(--pismo-biela);
  font-size: 0.91rem;
  font-weight: 600;
  padding: 1px;
}

.legenda#sucet .zmena {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
ol li:hover {
  background-color: #252525;
}

.zmena svg {
  left: 0;
  bottom: 0;
  font-size: 13px;
  min-width: 13px;
}

#bot-meno {
  cursor: pointer;
  color: #bbbbbb;
  width: 100px;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}
#bot-mena {
  color: var(--pismo-biela);
  margin-right: 40px;
  width: 105px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#bot-mena p {
  color: var(--pismo-biela);
  font-size: 0.91rem;
  font-weight: 600;
}

#bot-mena p + p {
  /* border-top: solid rgba(255, 255, 255, 0.29) 1px; */
}

#bot-mena p text {
  /* color: var(--pismo-biela); */
  /* font-size: 1rem; */
  font-weight: 500;
  /* color: #c9c9c9; */
}

#btc {
  margin: 3px;
  border-radius: 20px;
  background-color: #2c53dd;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  width: fit-content;
}

#btc i svg {
  margin-top: 5px;
  height: 18px;
  width: 18px;
}

#euro {
  margin: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-width: 70px;
  /* width: fit-content; */
}

#euro i svg {
  margin-top: 3px;
  margin-right: 2px;
  height: 17px;
  width: 17px;
}

#bot-par {
  color: #bbbbbb;
  margin-right: 100px;
  width: 90px;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}

.zmena {
  text-align: center;
  width: 80px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bot-list .zmena {
  text-align: center;
  width: 70px;
}

.bot-list {
  position: relative;
}

#divider {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 4px;
  border-radius: 30px;
  bottom: 36px;

  background-color: rgba(255, 255, 255, 0.29);
}

.vypinac {
  z-index: 2;
  position: fixed;
  width: 200px;
  height: 40px;
  top: 20px;
  right: 0;
  transform: translate(-50%, 0%);
  font-size: 1.1rem;
  color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: top 0.15s;
  font-weight: 600;
  cursor: pointer;
  margin: 0 20px;
  outline: none;
  border: none;
}

.vypinac:hover {
  filter: brightness(1.05);
}

.vypinac#red {
  background: #cc3333;
}

.vypinac:active {
  top: 23px;
  /* transform: scale(0.98); */
  transition: all 0.01s;
}

.vypinac#green {
  /* #23c552 */
  background: #2c53dd;
}

.vypinac svg {
  margin-bottom: 2px;
  height: 23px;
  width: 23px;
}

.list-graf {
  pointer-events: none;
  position: relative;
  width: 150px;
  height: 58px;
  display: inline-block;
}

.burza {
  height: 400px;
}

.bot-novy-cont {
  z-index: 2;
  background-color: var(--pozadie);
  border: 2px solid rgba(255, 255, 255, 0.29);
  position: fixed;
  bottom: 150px;
  max-height: 350px;
  max-width: 1150px;
  right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 25px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s; */
}

.show-bot-button {
  background-color: #2c53dd;
  outline: none;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-bot-button svg {
  width: 37px;
  height: 37px;
}
