.graf-page-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.celkovy-stav-cont {
  position: relative;
  width: 100%;
  max-width: 900px;
  min-width: 300px;
  /* height: 90px; */
  padding: 20px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
  margin: 70px 0px 120px 0px;
}

.celkovy-stav-cont ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}

.celkovy-stav-cont ul li {
  position: relative;
  height: 100%;
  min-width: 180px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 3px;
}

.stav-element + .stav-element {
  border-left: 1px solid rgba(255, 255, 255, 0.29);
}

.celkovy-stav-cont ul li p {
  font-size: 0.85rem;
  color: rgb(141, 141, 141);
  text-align: left;
  font-weight: 600;
}

.celkovy-stav-cont ul li span {
  font-size: 1.05rem;
  color: rgb(255, 255, 255);
}

#perc-zmena {
  color: #16c784;
  font-size: 0.85rem;
  font-weight: 500;
  align-items: center;
  display: flex;
  align-items: center;
}

#btc-zmena {
  color: #2c53dd;
  font-weight: 700;
  font-size: 0.93rem;
  filter: brightness(1.6);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

#btc-zmena svg {
  height: 16px;
  width: 16px;
}

#eur-zmena {
  margin-top: 6px;
  font-weight: 600;
  color: var(--pismo-biela);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

#indikator {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  color: rgb(22, 199, 132);
}

.graf-burzy-cont {
  width: 95%;
  max-width: 1400px;
  min-width: 300px;
  margin-top: 100px;
}

.graf-burzy-cont ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
  padding: 0;
  grid-gap: 20px 2%;
  /* column-gap: 20px; */
}

.graf-burzy-cont ul li {
  list-style: none;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.burza {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px !important;
  margin-bottom: 20px;
}

.burza-cont {
  height: 100%;
  width: 90%;
  max-width: 580px;
  min-width: 580px;
  position: relative;
  display: flex;
}

.burza-cont p {
  font-size: 1.4rem;
  margin-bottom: 10px;
  position: relative;
}

.vyvin-title {
  font-size: 1.6rem;
  top: -45px;
  left: -55px;
}

.graf-title {
  font-size: 1.6rem;
  left: 30px;
  top: -20px;
}

#graf-burza-cont {
  /* margin: 0 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1330px;
  min-width: 300px;
  /* height: 600px; */
}

.devider {
  top: 45px;
  left: 15px;
  height: 65%;
  width: 4px;
}

.devider-vyvin {
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 400px;
}

.devider-graf {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 50%;
}

#devider {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 25px;
}

#title {
  margin-bottom: 10px;
  /* margin-left: 25px; */
  position: absolute;
  padding: 0;
  text-align: left;
  color: var(--pismo-biela);
  font-weight: bolder;
}

@media only screen and (max-width: 700px) {
  .celkovy-stav-cont {
    padding: 30px 0px;
  }
  #devider {
    display: none;
  }
  #title {
    left: 50%;
    transform: translateX(-50%);
  }

  .graf-page-div {
    /* overflow: scroll; */
  }

  .graf-burzy-cont ul {
    /* grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); */
    /* column-gap: 20px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    /* width: fit-content; */
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .graf-burzy-cont {
    /* width: fit-content; */
  }

  .burza {
    /* width: fit-content; */
  }
  .burza-chart-main {
    max-width: 98% !important;
    /* display: flex; */
    /* align-items: flex-start !important; */
  }
  .burza-graf-filter {
    position: relative !important;
    transform: none;
    top: 0 !important;
    right: 0 important;
    margin-top: 1%;
    /* display: none; */
    /* bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; */
    width: 60%;
    /* bottom: -10% !important; */
  }

  .burza-cont #title {
    top: -25px;
    /* left: -50px; */
    transform: translateX(-50%);
  }

  .perc-zmena-chart-burza {
    margin: 0 !important;
  }

  .burza-cont {
    min-width: 0;
  }
  .burza-chart-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .burza-graf-filter ul {
    flex-direction: row !important;
    justify-content: space-around !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .burza {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  .graf-burzy-cont > ul:first-child {
    /* grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); */
    gap: 50px !important;
  }

  .graf-page-div {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 420px) {
  .burza {
    height: 250px !important;
    margin-bottom: 30px !important;
  }
  .vyvin-title {
    width: fit-content !important;
  }
}
