.graf-page-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.celkovy-stav-cont {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  height: fit-content;
  /* height: 90px; */
  padding: 20px 0px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.29); */
}

.celkovy-cont-title {
  width: 100%;
  /* height: fit-content; */
  max-width: 1200px;
  margin: 0px 100px;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  /* background-color: #333644; */
  margin: 0px 0px 10px 0px;
}

.celkovy-stav-cont ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 25px;
}

.celkovy-stav-cont ul li {
  position: relative;
  height: max-content;
  min-width: 220px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 7px;

  background-color: #333644;
  padding: 15px 30px;
  border-radius: 0.25rem;
  box-shadow: 0 0 35px 0 rgb(66 72 80 / 15%);
}

.stav-element + .stav-element {
  /* border-left: 1px solid rgba(255, 255, 255, 0.29); */
}

.celkovy-stav-cont ul li p {
  font-size: 0.85rem;
  color: #8c98a5;
  text-align: left;
  font-weight: 550;
}

.celkovy-stav-cont ul li span {
  font-size: 1.05rem;
  color: rgb(255, 255, 255);
}

#perc-zmena {
  color: #16c784;
  font-size: 0.93rem;
  font-weight: 600;
  align-items: center;
  display: flex;
  align-items: center;
}

#btc-zmena {
  color: #ffbb1d;
  font-weight: 700;
  font-size: 1.05rem;
  /* filter: brightness(1.6); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

#btc-zmena svg {
  height: 17px;
  width: 17px;
  padding-bottom: 2px;
}

#eur-zmena {
  margin-top: 6px;
  font-weight: 700;
  color: #b5c6cc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  font-size: 1.4rem;
}

#indikator {
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 18px;
  color: rgb(22, 199, 132);
}

.graf-burzy-cont {
  width: 95%;
  max-width: 1200px;
  min-width: 300px;
  margin-top: 25px;
}

.graf-burzy-cont ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
  padding: 0;
  grid-gap: 20px 2%;
  /* column-gap: 20px; */
}

.graf-burzy-cont ul li {
  list-style: none;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.burza {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px !important;
  /* margin-bottom: 20px; */
  /* background-color: #333644; */
  border-radius: 0.25rem;
  padding-top: 25px !important;
  /* max-width: 600px; */
}

.burza-cont {
  height: 100%;
  width: 90%;
  max-width: 580px;
  min-width: 580px;
  position: relative;
  display: flex;
  background-color: #333644;
  padding-top: 25px !important;
  border-radius: 0.25rem;
  box-shadow: 0 0 35px 0 rgb(66 72 80 / 15%);
}

.burza-cont p {
  font-size: 1.2rem;
  /* margin-bottom: 10px; */
  font-weight: 700 !important;
  position: relative;
  color: #b5c6cc !important;
  left: 4% !important;
}

.vyvin-title {
  font-size: 1.6rem;
  top: 26px;
  left: 40px;
}

.graf-title {
  font-size: 1.2rem;
  font-weight: 700 !important;
  color: #b5c6cc !important ;
  left: 0px;
  top: 0px;
}

#graf-burza-cont {
  /* margin: 0 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 95%;
  max-width: 1200px;
  min-width: 300px;
  /* height: 600px; */
  background-color: #333644;
  padding: 20px 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 35px 0 rgb(66 72 80 / 15%);
}

.devider {
  top: 45px;
  left: 15px;
  height: 65%;
  width: 4px;
}

.devider-vyvin {
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 37%;
}

.devider-graf {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 50%;
}

#devider {
  position: absolute;
  background-color: #8b98a579;
  border-radius: 25px;
}

#title {
  margin-bottom: 10px;
  /* margin-left: 25px; */
  position: absolute;
  padding: 0;
  text-align: left;
  color: var(--pismo-biela);
  font-weight: bolder;
}

@media only screen and (max-width: 700px) {
  .devider-vyvin {
  }
}

@media only screen and (max-width: 700px) {
  #graf-burza-cont {
    margin-bottom: 30px !important;
  }
  .celkovy-stav-cont {
    padding: 30px 0px;
  }
  #devider {
    display: none;
  }
  #title {
    left: 50%;
    transform: translateX(-50%);
  }

  .graf-page-div {
    /* overflow: scroll; */
  }

  .graf-burzy-cont ul {
    /* grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); */
    /* column-gap: 20px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    /* width: fit-content; */
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .graf-burzy-cont {
    /* width: fit-content; */
  }

  .burza {
    background-color: #333644;
    /* width: fit-content; */
  }
  .burza-chart-main {
    max-width: 98% !important;
    /* display: flex; */
    /* align-items: flex-start !important; */
  }
  .burza-graf-filter {
    position: relative !important;
    transform: none;
    top: 0 !important;
    right: 10px !important;
    margin-top: 1%;
    /* display: none; */
    /* bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; */
    width: 60%;
    /* bottom: -10% !important; */
  }

  .burza-cont #title {
    top: -25px;
    left: 20px !important;
    transform: translateX(-50%);
  }

  .perc-zmena-chart-burza {
    margin: 0 !important;
  }

  .burza-cont {
    min-width: 0;
    /* width: 100%; */
    align-items: flex-end !important;
    justify-content: flex-end !important;
    max-width: none !important;
    background-color: transparent !important;
    padding-top: 0 !important;
  }
  .burza-chart-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .burza-graf-filter ul {
    flex-direction: row !important;
    justify-content: space-around !important;
    width: 100% !important;
  }
  .graf-title {
    left: 0 !important;
    transform: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .celkovy-cont-title {
    margin: 0;
  }
  .burza {
    padding: 0 !important;
    margin-bottom: 0 !important;
    height: fit-content !important;
  }

  .graf-burzy-cont > ul:first-child {
    /* grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); */
    gap: 50px !important;
  }

  .graf-page-div {
    justify-content: flex-start;
  }

  .graf-page-title-div {
    justify-content: center;
  }

  .title-hori {
    padding-left: 0px !important;
  }
}

@media only screen and (max-width: 500px) {
  .burza-cont {
    /* width: 100% !important; */
  }
  #graf-burza-cont {
    padding-top: 50px !important;
  }
  .graf-title {
    top: -25px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .main-graf-filter {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 420px) {
  /* .burza {
    height: 250px !important;
    margin-bottom: 30px !important;
  }
  .vyvin-title {
    width: fit-content !important;
  } */
}

.title-hori {
  font-size: 1.2rem;
  color: #b5c6cc;
  font-weight: 700 !important;
  position: relative;
  padding-left: 25px;
}

.graf-page-title-div {
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
