.App {
  background-color: var(--pozadie);
  /* background-image: radial-gradient(rgba(90, 90, 90, 0.274) 1px, transparent 1px);
  background-size: 40px 40px;
  background-attachment: fixed; */
  position: relative;
}

.Content {
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  display: inline-block;
}

p {
  text-align: center;
  color: wheat;
  font-size: 100px;
}
