.bot-obchody-cont {
  /* background-color: black; */
  width: 1150px;
  height: 600px;
  margin-top: 10px;
  list-style: none;
  padding: 0;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
}

.bot-obchody-cont::-webkit-scrollbar {
  width: 4px;
}

.bot-obchody-cont::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.29);
}

.bot-obchody-cont::-webkit-scrollbar-thumb {
  background-color: var(--pismo-biela);
  border-radius: 100px;
}

.bot-obchody-cont li {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--list-border);
  justify-content: space-around;
  /* #29292956 */
}

.bot-obchody-cont li p {
  font-size: 1rem;
}

.obchody-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obchody-filtre {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 77%;
  background-color: #22222256;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 50px;
}

.parameter-cont {
  position: relative;
  width: 160px;
  line-height: 60px;
  padding-right: 10px;
  padding-left: 5px;
  border: 2px solid rgba(255, 255, 255, 0.29);
  height: 15px;
  border-radius: 5px;
  padding: 7px 5px 5px 5px;
  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parameter-cont span {
  color: #bbbbbb;
  font-weight: 700;
  position: relative;
  font-size: 0.8rem;
  /* background-color: #222222; */
  /* padding: 5px 5px 5px 0px; */
  /* padding-right: 10px; */
  z-index: 1;
  /* margin-right: 15px; */
  pointer-events: none;
  /* width: 50px; */
  height: 40px;
  line-height: 38px;
}

.parameter-cont input {
  background-color: transparent;
  color: var(--pismo-biela);
  outline: none;
  width: 100px;
  border: none;
  /* border: 2px solid rgba(255, 255, 255, 0.29); */
  border-radius: 5px;
  height: 15px;
  padding: 7px 5px 7px 5px;
  transition: all 0.1s;
  text-align: center;
  /* width: 150px;
  height: 30px; */
  font-weight: 600;
  font-size: 0.91rem;
}

.legenda-obch {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  /* outline: solid 1px var(--list-border); */
  border-top: solid 1px var(--list-border);
  border-bottom: solid 1px var(--list-border);
  justify-content: space-around;
}

.legenda-obch #element {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  font-size: 0.87rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#element {
  cursor: pointer;
  color: #bbbbbb;
  width: 100px;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  /* font: inherit; */
}

.cislo#element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  text-align: center;
}

.datum#element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
}

.pagi-cont {
  width: 500px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagi-text {
  font-size: 1.05rem;
  color: #bbbbbb;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.font-medium {
  color: var(--pismo-biela);
  font-size: 1rem;
  font-weight: 600;
  /* margin: 0px 10px; */
  width: 50px;
  text-align: center;
}

.pagi-cont button {
  background-color: #2c53dd;
  border: none;
  cursor: pointer;
  color: var(--pismo-biela);
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.1s;
}

.pagi-cont #inactive {
  background-color: #707070;
  pointer-events: none;
}

.pagi-cont button:hover {
  filter: brightness(1.1);
}

.pagi-cont button:active {
  transition: all 0.05s;
  transform: scale(0.96);
}

.filtre-hladat-btn {
  background-color: var(--pismo-biela);
  border: none;
  cursor: pointer;
  color: #707070;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 600;
  margin-left: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.filtre-hladat-btn svg {
  height: 15px;
  width: 15px;
}

.filtre-hladat-btn:hover {
  filter: brightness(1.1);
}

.filtre-hladat-btn:active {
  transform: scale(0.96);
}

#element svg {
  width: 18px;
  height: 18px;
}

#input-radio {
  background-color: transparent;
  outline: none;
  visibility: hidden;
  position: absolute;
}
