.bot-obchody-cont {
  /* background-color: black; */
  height: 600px;
  /* margin-top: 10px; */
  list-style: none;
  padding: 0;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
}

.obchody-list-const {
  width: 95%;
}

.bot-obchody-cont::-webkit-scrollbar {
  width: 4px;
}

.bot-obchody-cont::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #3b3e4e;
}

.bot-obchody-cont::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 100px;
}

.flex-obchody-cont::-webkit-scrollbar {
  height: 4px;
}

.flex-obchody-cont::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #3b3e4e;
}

.flex-obchody-cont::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 100px;
}

.bot-obchody-cont li {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--list-border);
  justify-content: space-around;
  /* #29292956 */
}

.bot-obchody-cont li p {
  font-size: 1rem;
}

.obchody-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 540px;
}

.obchody-filtre {
  align-self: center;
  width: fit-content;
  height: 55px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  /* background-color: #22222256; */
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 60px;
  gap: 10px;
}
@media only screen and (max-width: 900px) {
  .obchody-filtre {
    width: 95%;
  }
  .nadpis-obdobie {
    height: 0 !important;
  }
}

@media only screen and (max-width: 700px) {
  .filtre-hlap-btn {
    margin: 0 !important;
  }
  .filtre-reset-btn {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 630px) {
  .filtre-hladat-btn {
    font-size: 0 !important;
    width: fit-content !important;
  }
  .obchody-filtre .input-nadpis-cont button {
    width: 110px !important;
  }

  .parameter-cont#datum input {
    display: none;
  }
  .parameter-cont#datum {
    margin: 0px;
    border: none;
    width: fit-content !important;
  }
  .nadpis-obdobie {
    display: none;
  }
  .list-obchodov-div {
    width: 100%;
  }
  .bot-obchody-cont {
    /* overflow-x: scroll; */
    /* width: 95%; */
    align-items: flex-start !important;
    justify-content: flex-start;
    overflow-x: hidden !important;
  }
  .pagi-cont {
    width: 100% !important;
    justify-content: center !important;
    /* display: none !important; */
  }

  .pagi-cont button {
    transform: scale(0.75);
  }

  .pagi-text {
    width: 58% !important;
    justify-content: space-evenly !important;
    font-size: 0.8rem !important;
  }
  .pagi-text .font-medium {
    width: fit-content;
  }

  .obchody-filtre {
    /* display: none !important; */
    justify-content: center !important;
    width: 100%;
    padding: 0;
  }

  .obchody-list-const {
    /* width: 95%; */
  }

  .obchody-list-const li {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
  }

  .obchody-cont {
    width: 100% !important;
  }
  .legenda-obch .cislo {
    /* margin: 0 !important; */
  }

  .obchody-title {
    width: 100%;
    text-align: center !important;
  }

  .flex-obchody-cont {
    overflow-x: scroll;
    /* width: 95%; */
  }

  .obchody-list-major-cont {
  }

  .calendar-div-parent .calendar-div {
    left: 0 !important;
    top: 130%;
  }
}

.parameter-cont {
  position: relative;
  width: 155px;
  line-height: 60px;
  padding-right: 10px;
  padding-left: 5px;
  border: 2px solid var(--border);
  height: 15px;
  border-radius: 5px;
  padding: 7px 5px 5px 5px;
  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333644;
}

.parameter-cont#datum {
  width: 250px;
}

.parameter-cont#datum input {
  width: 105px;
}

.nadpis-obdobie span {
  color: #bbbbbb;
  font-weight: 700;
  position: relative;
  font-size: 0.8rem;
  z-index: 1;
  pointer-events: none;
  height: 40px;
  line-height: 38px;
}

.parameter-cont input {
  background-color: transparent;
  color: var(--pismo-biela);
  outline: none;
  width: 95px;
  border: none;
  /* border: 2px solid rgba(255, 255, 255, 0.29); */
  border-radius: 5px;
  height: 15px;
  padding: 7px 5px 7px 5px;
  transition: all 0.1s;
  text-align: center;
  /* width: 150px;
  height: 30px; */
  font-weight: 600;
  font-size: 0.91rem;
}

.legenda-obch {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
  /* outline: solid 1px var(--list-border); */
  border-top: solid 1px var(--list-border);
  border-bottom: solid 1px var(--list-border);
  justify-content: space-around;
}

.legenda-obch #element {
  padding-right: 0;
  cursor: pointer;
  color: #8c98a5;
  font-weight: 600;
  font-size: 0.87rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

#element {
  cursor: default;
  color: #b5c6cc;
  width: 100px;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  /* font: inherit; */
}

.cislo#element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  text-align: center;
  margin-right: 7%;
}

.cena#element {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 108px;
  text-align: right;
  margin-left: 2%;
}

svg.euro-symbol {
  margin-right: 2px;
  height: 15px;
  width: 15px;
}

.bot-obchody-cont li .cena {
  color: var(--pismo-biela) !important;
}

.datum#element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: center;
  width: 140px;
}

.maker#element {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  text-align: right;
}

.mnozstvo#element {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 95px;
  text-align: center;
}

.pagi-cont {
  width: 500px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.pagi-text {
  font-size: 1.05rem;
  color: #8c98a5;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.font-medium {
  color: #b5c6cc;
  font-size: 1rem;
  font-weight: 600;
  /* margin: 0px 10px; */
  width: 50px;
  text-align: center;
}

.pagi-cont button {
  background-color: #2d7bf4;
  border: none;
  cursor: pointer;
  color: var(--pismo-biela);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagi-cont button svg {
  height: 30px;
  width: 30px;
}

.pagi-cont #inactive {
  background-color: #3c3f50;
  pointer-events: none;
}

.pagi-cont button:hover {
  filter: brightness(1.1);
}

.pagi-cont button:active {
  transition: all 0.05s;
  transform: scale(0.96);
}

.filtre-hladat-btn {
  background-color: #f3f7f9;
  border: none;
  cursor: pointer;
  color: #707070;
  width: 80px;
  height: 30px;
  border-radius: 0.15rem;
  font-size: 0.85rem;
  font-weight: 600;
  margin-left: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.filtre-reset-btn {
  background-color: #2d7bf4;
  border: none;
  cursor: pointer;
  color: white;
  /* width: 80px; */
  height: 30px;
  border-radius: 25px;
  font-size: 0.85rem;
  font-weight: 600;
  margin-right: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.filtre-hladat-btn svg {
  height: 15px;
  width: 15px;
}

.filtre-hladat-btn:hover {
  filter: brightness(1.1);
}

.filtre-hladat-btn:active {
  transform: scale(0.96);
}

button svg {
  width: 20px;
  height: 20px;
}

#input-radio {
  background-color: transparent;
  outline: none;
  visibility: hidden;
  position: absolute;
}

#dateStart {
  width: 100% !important;
  font-size: 0.91rem;
}

.nadpis-obdobie {
  position: absolute;
  top: -14px;
  width: 200px;
  height: 2px;
  background-color: #8b98a579;
  border-radius: 25px;
}

.nadpis-obdobie span {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333644;
  height: 25px;
  text-align: center;
  width: 70px;
  font-size: 0.79rem;
  color: #b5c6cc;
  /* border-radius: 25px; */
}

.calendar-main-cont {
  position: relative;
  width: 50px;
}

.calendar-button-open {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  outline: 0;
  border: none;
  padding: 0;
  color: var(--pismo-biela);
  /* height: 50px;
  width: 50px; */
}

.calendar-button-open svg {
  height: 23px;
  width: 23px;
}
.calendar-button-open:hover {
  color: #ffffff;
}

.calendar-div-parent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-div {
  z-index: 5;
  background-color: #707070;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.react-calendar {
  background-color: transparent !important;
}

.obchody-filtre .input-nadpis-cont button div {
  font-size: 0.9rem !important;
  padding-bottom: 2px;
}

.obchody-filtre .input-nadpis-cont button {
  height: 30px;
}

.obchody-list-major-cont {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
